name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: './healthbridge/package-lock.json'
        
    - name: Install Dependencies
      run: cd healthbridge && npm ci
      
    - name: Run Linter
      run: cd healthbridge && npm run lint
      
    - name: Build Project
      run: cd healthbridge && npm run build
